*{box-sizing: border-box;}
@font-face {
  font-family: Clairvaux;
  src: ./assets/Clairvaux-Roman.ttf;
}

p {
  color: grey;
   font-family: "Lucida Console", "Courier New", monospace;
  font-size: 10%;
  padding: 0%;
}

img {
  /* display: block; */
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   /* outline-color: black;
   outline-style: groove; */
}

body{
  margin:0;
  padding: 0;
  background-color: white;
  color: gray;
  font-family: Clairvaux;
  font-size: 20px;
  padding: 0%;
  height: 100%;
}

.float-container{
  display: block;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
  top:10px;
  width: 510px;
  /* outline-style: dotted; */
  /* outline-color: purple; */
  position: relative;
}
.drawing{
  position: fixed;
  z-index: 1;
  height: 99%;
}

.topright{
  position: fixed;
  z-index: 2;
  height: 100%;
  /* outline-color: red;
  outline-style: solid; */
}
.bottomright{
  position: fixed;
  z-index: 2;
  height: 100%;
  /* outline-color: green;
  outline-style: solid; */
}
.topleft{
  position: fixed;
  z-index: 2;
  height: 100%;
  /* outline-color: blue;
  outline-style: solid; */
}
.bottomleft{
  position: fixed;
  z-index: 2;
  height: 100%;
  /* outline-color: yellow;
  outline-style: solid; */
}

.rightbrain{
  width: 255px;
  height: 50%;
  /* outline-style: solid; */
  /* outline-color: red; */
  position: absolute;
  top: 0px;
}

.lefttbrain{
  width: 255px;
  height: 50%;
  /* outline-style: solid; */
  /* outline-color: green; */
  position: absolute;
  top: 0px;
  left: 50%;
}

.lefttbrain .life {
  visibility: hidden;
  width: 500px;
  text-align: left;
  border-radius: 6px;
  padding: 0px 0;
  position: absolute;
  left: 110%;
  z-index: 4;
}

.lefttbrain:hover .life{
  visibility: visible;
}

.lowerright{
  width: 255px;
  height: 50%;
  /* outline-style: solid; */
  /* outline-color: yellow; */
  position: absolute;
  top: 50%;
}


.lowerleft{
  width: 255px;
  height: 50%;
  /* outline-style: solid; */
  /* outline-color: blue; */
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle1{
    radius: 10px;
    background-color: black;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 33%;
    left: -0.4%;
    z-index: 50;
    border-radius: 50%;
  }
  .circle1 .life {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    right: -400px;
    z-index: 3;
    font-size: 60%;
  }

  .circle1:hover .life{
    visibility: visible;
  }

/*
.circle2{
  radius: 10px;
  background-color: yellow;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 77.3%;
  left: 33.2%;
  z-index: 50;
  border-radius: 50%;
} */

.circle3{
    radius: 10px;
    background-color: black;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 77.8%;
    left: 113.5%;
    z-index: 50;
    border-radius: 50%;
  }
  .circle3 .spotify {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 3;
    font-size: 30%;
    color: gray;

  }

  .circle3:hover .spotify{
    visibility: visible;
  }

.circle4{
    radius: 10px;
    background-color: black;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 21.5%;
    left: 124%;
    z-index: 50;
    border-radius: 50%;
  }
  .circle4 .youtube {
    visibility: hidden;
    width: 500px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    left: 90%;
    z-index: 3;
    font-size: 30%;
    color: grey;
  }

  .circle4:hover .youtube{
    visibility: visible;
  }

.orange{
  color: orange;
}

.green{
  color: #60bf2c;
}

.link{
  color: black;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 74.3%;
  left: -0.7%;
  z-index: 50;
  }

    a{
      color: black;
      text-decoration: none;
      font-size: 45px;
    }
